@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sometype+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Sometype Mono', monospace;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.link {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
}

.link:hover {
    color: rgb(204, 13, 13);
}